<ion-header>
    <ion-toolbar>
      <ion-title>
        Strona główna
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding class="login">
      <div class="row">
          <div class="col s6 offset-s3">
            <ion-item>
                <h1>Witaj w Opowiadaniu</h1>  
            </ion-item>
                      <div class="col s6">
                         <img src="/assets/img/story.png" style="width:345px;height:348px;" class="offset-s3;">
                      </div>
          </div>
      </div>
  
      <div class="col s6 offset-s3">
          <ion-text color="primary"><h3>Twój nick</h3></ion-text> 
        <ion-item>
          <ion-textarea placeholder="Tutaj wpisz nick" position="stacked" rows="1"></ion-textarea>
        </ion-item>   
          </div>
          <p style="word-spacing: 100px"></p>
          <ion-button class="btn-large btn-submit" type="submit" routerLink="/" routerDirection='../tabs/tab2.html'>WCIŚNIJ MNIE</ion-button>
  </ion-content>
  
  
  
  
  
  